torchvision 
torchaudio 
torchmetrics
pytorch-lightning
lightning-utilities
pytorch-wavelets
keras
tensorboard
numpy
pandas
matplotlib
networkx
scikit-learn
scikit-image
scipy
tqdm
imageio
kornia
opencv-python-headless
pillow
python-dateutil
pyyaml
tensorboard
plotly
seaborn
shap
grad-cam
PyWavelets

